<!DOCTYPE html>
<html>
<head>
<title>Login to Blaster's Bargain</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/bootstrap/css/home.bootstrap.css">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	<div class="image"><img src="/images/blasterlogo1.png"></div>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
			<div class="login-form">
				<form action="/" method="post">
					E-mail:<br>
					<input type="text" name="logemail" placeholder="E-mail" required="" class="control-group"><br>
					Password:
					<input type="password" name="logpassword" placeholder="Password" required="" class="control-group"><br>
					<input type="submit" value="Login" class="btn btn-primary btn-large btn-block">
				</form>
			</div>
		</div>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Register</h1>
			</div>
			<div class="login-form">
				<form action="/" method="post">
					E-mail:<br>
					<input type="text" name="email" placeholder="E-mail" required="" class="control-group"><br>
					Username:
					<input type="text" name="username" placeholder="Username" required="" class="control-group"><br>
					Password:
					<input type="password" name="password" placeholder="Password" required="" class="control-group"><br>
					Confirm Password:
					<input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="control-group"><br>
					<input type="submit" value="Register" class="btn btn-primary btn-large btn-block">
				</form>
			</div>
		</div>
	</div>
	<div class="about">
		<div class="app-title">
			<h1>About Us</h1>
			<p>Blaster's Bargain is your premiere and secure place where you can trade your Mines related goods for other goods!</p>
			<p>Use the login area to gain access to bargaining services, or register to make your account!</p>
		</div>
	</div>
	<div class="using">
		<div class="app-title">
			<h1>Using Blaster's Bargain</h1>
			<h5>To use BB, register or login to the left. Once in, you will see your profile. From there you can delete or choose to accept incoming barters.</h5>
			<h5>Use the navigation bar to move around. Clicking on 'Barter for Items will show you items available. The 'Barter for this!' will allow you to ask the user to barter. If they choose 'accept' the item is removed.</h5>
			<h5>Clicking on the 'Add Item' from the barter page will allow you to add an item! Make sure to put items that can be bartered.</h5>
		</div>
	</div>
</body>
</html>
